.form-container{
    position: relative;
    width: 400px;
    margin: 5% auto;
    padding: 13% 10% 10%;
  
    .email{
color: red;

    };
  
    .form-error {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding: 3%;
      text-align: center;
      color: tomato;
    }
  }

  .login{

    background-color: #d4e0f5;
    right: 0px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


  }

  .logo-login{

    color: #5574AA;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -84px;
    margin-bottom: 70px;
    span{

        color: #4c4c4c;
        font-size: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }