.logo{

    color: #5574AA;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    span{

        color: #4c4c4c;
        font-size: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}