    .form-field {

      margin-bottom: -21px;
    
    }

    // input{

    //     width: 400px;
    // }


    
 input[type=text] {

    border-radius: 10px;
    border: 2px solid grey;
    width: 600px;
    padding: 5px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 20px;
    padding: 5px 20px;
 }

 input[type=name]{

    border-radius: 10px;
    border: 2px solid grey;
    width: 400px;
    padding: 5px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 20px;
    padding: 5px 20px;
 }

 input[type=email]{

    border-radius: 10px;
    border: 2px solid grey;
    width: 400px;
    padding: 5px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 20px;
    padding: 5px 20px;
 }

 input[type=password]{
    border-radius: 10px;
    border: 2px solid grey;
    width: 400px;
    padding: 5px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 20px;
    padding: 5px 20px;

 }

